.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 29px 0 26px 0;
}

.burger {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.searchBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    left: 640px;
}

.input {
    position: absolute;
    left: 450px;
    height: 25px;
    border-radius: 7px;
    border: 1px solid gray;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.icon:hover {
    color: red;
}

@media (max-width:1200px) {
    .burger {
        display: flex;
    }

    .header {
        border-bottom: 1px solid rgba(0, 0, 0, .4);
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32vw;
    }

    .searchBtn {
        position: static;
    }

    .input {
        left: 70vw;
        top: 70px;
    }
}

@media (max-width:768px) {
    .head {
        gap: 15vw;
    }

    .input {
        left: 40vw;
        top: 70px;
    }
}

@media (max-width:375px) {
    .head {
        gap: 10vw;
    }
}